<div style={{style}}>
    <div>
    <SierpinskiTriangle 
        @x={{x}} 
        @y={{y}} 
        @s={{s}} 
        @targetSize={{targetSize}} 
        @children={{seconds}}>
        {{seconds}}
    </SierpinskiTriangle>
    </div>
</div>